.Drafter {
  flex: 1 0 1%;
  overflow-y: auto;
}

.Drafter>.zones {
  display: flex;
  flex-direction: row;
}

.Drafter>.zones>div {
  flex: 1 1 33%;
}

.Drafter>.zones .DraftZone {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.Drafter>.zones .DraftZone b {
  color: chocolate;
  display: inline-block;
  margin: 5px 20px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.Drafter>.zones .DraftZone b:hover {
  background-color: rgba(140, 140, 200, .25);
  transition: background-color .25s;
}

.Drafter>.zones .DraftZone>*>.Draftee {
  border: 1px solid;
  border-color: inherit;
  border-radius: 5px;
  margin: 5px;
  flex: 0 0 50px;
  cursor: grab;

  display: flex;
  flex-direction: column;
}

.Drafter>.zones .DraftZone>*>.Draftee>.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 35px;
}

.Drafter>.zones .DraftZone>*>.Draftee>.stats>table {
  width: 100%;
}

.Drafter>.zones .DraftZone>*>.Draftee>.header>div:first-child {
  flex: 0 0 35px;
  height: 35px;
}

.Drafter>.zones .DraftZone>*>.Draftee>.header>div:last-child {
  flex: 0 0 50px;
  height: 35px;
}

.Draftee.experience0 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 128, .5));
}

.Draftee.experience1 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 128, 128, .5));
}

.Draftee.experience2 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 128, 0, .5));
}

.Draftee.experience3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(128, 128, 0, .5));
}

.Draftee .stats .upper {
  background-color: rgba(0, 128, 0, .5);
}

.Draftee .stats .lower {
  background-color: rgba(128, 0, 0, .5);
}

.Drafter>.TeamDrawer {
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  left: 25%;
  right: 25%;
  background-color: gray;

  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: inherit;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
}

.Drafter>.TeamDrawer>.header {
  flex: 0 0 50px;
}

.Drafter>.TeamDrawer>.teams {
  display: flex;
  flex-direction: row;
  height: 382px;

  transition: height .25s;
}

.Drafter>.TeamDrawer.closed>.teams {
  height: 0px;
  transition: height 1s;
}

.Drafter>.TeamDrawer .Team {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  margin: 5px;

  overflow: hidden;
}

.Drafter>.TeamDrawer .Team .Slot {
  height: 50px;
  border: 1px solid;
  border-color: inherit;
  border-radius: 5px;
  margin: 5px;
  background-color: gray;
}

.Drafter>.TeamDrawer .Team .Slot .name a {
  background-color: rgb(70, 70, 100);
}

.Drafter>.TeamDrawer .Team .Slot.empty {
  opacity: 50%;
}