div.Header {
  flex: 0 0 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-bottom-color: inherit;
  z-index: 2;
}

div.Header > .admin {
  display: flex;
  flex-direction: row;
}

div.Header > .user {
  display: flex;
  flex-direction: row;
}

div.Header > .admin > a {
  border-right: 1px solid;
  border-color: inherit;
}

div.Header > .admin > a > .true {
  color: green;
}

div.Header > .admin > a > .false {
  color: red;
}

div.Header > .user > a {
  border-left: 1px solid;
  border-color: inherit;
}

div.Header > div > a {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

div.Header > div > a:hover {
  background-color: rgba(140, 140, 200, .25);
}

div.Header > div > button {
  display: flex;
  align-items: center;
}

div.Header > div > button > span {
  padding: 0px 10px;
}