div.Header {
  flex: 0 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  border-bottom: 1px solid;
  border-bottom-color: inherit;
  z-index: 2;
}

.Header > a {
  display: flex;
  align-items: center;
  padding: 5px;
  border-left: 1px solid;
  border-color: inherit;
  border-radius: 5px;
}

.Header > a:hover {
  background-color: rgba(140, 140, 200, .25);
}

.Header > button {
  display: flex;
  align-items: center;
}

.Header > button > span {
  padding: 0px 10px;
}