/* ServerList */

.ServerList {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 0 100px;
  border-left: 1px solid;
  border-color: inherit;

  transition: flex .5s;
}

.ServerList.expanded {
  flex: 0 0 33%;
}

.ServerList>.header {
  flex: 0 0 50px;
  border-bottom: 1px solid;
  border-color: inherit;
  cursor: pointer;
}

.ServerList>.servers {
  flex: 1 1 50%;
  overflow-y: auto;
}

/* ServerStub */

.ServerList>.servers>.ServerStub {
  border-bottom: 1px solid;
  border-color: inherit;
}

.ServerList>.servers>.ServerStub>.score {
  display: flex;
  flex-direction: row;
}

.ServerList>.servers>.ServerStub>.score>* {
  flex: 0 0 50%;
}

/* Server */

.Server {
  flex: 1 1 100%;
  margin-bottom: 10px;
  padding: 0px 5px;
}

.Server>.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Server>.teams {
  display: flex;
  flex-direction: row;
  min-height: 100px;
}

.Server>.teams>* {
  flex-direction: column;
  overflow: hidden;
}

.Server>.teams>* {
  flex: 0 0 50%;
}

.Server>.teams .header {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: inherit;
  padding: 0px 5px;
}

.Server>.teams>*>.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Server .playerlist {
  text-align: left;
}

.Server>.teams .playerlist>div>.player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5px;
  border-bottom: 1px solid;
  border-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  white-space: nowrap;
  padding-right: 25px;
}

.Server>.teams>.red>.playerlist>div>.player {
  justify-content: right;
  background-position: left;
  padding-left: 25px;
  padding-right: 5px;
}

.Server>.teams>div>.playerlist>div>.player>div {
  text-align: left;
  overflow-x: hidden;
}

.Server>.spectator>.playerlist {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  background-color: rgb(128, 128, 128);
  min-height: 21px;
}

.Server>.spectator>.playerlist>div {
  margin-right: 5px;
}

.Server>.spectator>.playerlist>div>a:after {
  content: ',';
}

.Server>.spectator>.playerlist>div:last-child>a:after {
  content: '';
}

/* ManageServers */

.ManageServers {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  overflow-y: hidden;
}

.ManageServers>.configs {
  flex: 0 0 100px;
  display: flex;
  border-right: 1px solid;
  border-color: inherit;
  flex-direction: column;
  overflow-y: auto;
}

.ManageServers>.configs>.config {
  flex: 0 0 50px;
  border-bottom: 1px solid;
  border-color: inherit;
}

.ManageServers>.content {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* ManageServer */

.ManageServer {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.ManageServer>.header {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
}

.ManageServer>.header>.config {
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;
}

.ManageServer>.header>.features {
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;
}

.ManageServer>.header>.actions {
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;
}

/* Mumble */

.Mumble {
  flex: 1 1 100%;
  text-align: left;
}

.Mumble .Channel {
  padding-left: 10px;
}